.busGrid {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  /* margin-top: 40px; */
  text-align: center;
}
.box {
  padding: 40px 20px;
  margin-top: 30px;
  transition: all ease-in 0.3s;
  cursor: pointer;
  border-radius: 10px;
}
.box h3 {
  color: #1f1f25;
  font-weight: bold;
  font-size: 23px;
  padding-top: 20px;
}
.box p {
  max-width: 300px;
  font-size: 20px;
  margin: auto;
  padding-top: 16px;
  color: #717173;
}

.box:hover h3 {
  color: white;
}
.box:hover p {
  color: white;
}

@media all and (max-width: 768px) {
  .busGrid {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    /* margin-top: 40px; */
    text-align: center;
  }
  .box {
    background-color: #f9004d;
    color: white;
  }
  .box h3 {
    color: white;
  }
  .box p {
    color: white;
  }
}
